.body2{      
  margin: 0;      
  margin-top: 100px;
  
  /*background:radial-gradient(circle, rgb(219, 225, 255), rgb(255, 255, 255)) ;*/
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://media.licdn.com/dms/image/C4D1BAQGHkvN5na3Q5Q/company-background_10000/0/1583733380340/man_camionesybuses_cover?e=2147483647&v=beta&t=uqLHFOKjoJI3bsYU3gqSsEGHxBa0a1Qha4Mle5XZ-9M') center;    
  background-size: cover; 
  color: #252525;
}
body{
  font-family: fantasy !important;
}
.contenido2{
  display: flex;
  flex-direction: row;
}
/* Estilos del menú */
#menu { 
  
  width: 250px;
  background-color: #ffffff;
  padding: 10px;
  border-right: 0px solid #ddd;
  
  height: 200px; /* Ocupa toda la altura del viewport */
  overflow-y: auto; /* Permite desplazarse si el contenido es demasiado largo */        
  border-radius: 20px;
  margin-top: 60px;
  margin-left: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);      
}

.bt-active{  
  position: fixed; /* Hace que el menú sea fijo en la página */
  float: left;
  margin-top: 20px;
  
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.bt-no-active{
float: left;
margin-top: 20px;  
position: fixed; /* Hace que el menú sea fijo en la página */
padding: 5px 10px;
font-size: 16px;
text-align: center;
text-decoration: none;
cursor: pointer;
color: #fff;
background-color: #6b6b6b;
border: 2px solid #6b6b6b;
border-radius: 5px;
transition: background-color 0.3s ease, color 0.3s ease;
box-shadow: 0 4px 8px rgba(255, 255, 255, 0.5);
}

.izq{
margin-left: 20px;

}
.der{
margin-left: 150px;

}
#menu h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  color: #3c3c3c;  
}
.titulo-categoria{
  font-size: 18px;    
  text-align: center;
  margin-right: 50px;        
}
#lista-categorias {
  list-style-type: none;
  padding: 0;
  margin: 0;            
  background-color:#ffffff;  
}
#lista-categorias li {
  padding: 8px 0;
  cursor: pointer;
  color: #383c4c;  
}
#lista-categorias ul:hover {
  background-color: #d2d2d270;
}
#lista-categorias ul:hover {
  background-color: #ffffff70;
}
#lista-categorias li:hover {
  color: #0748ea;    
}
#lista-categorias li li:hover {
  color: #b2d0ff;
}

/* Estilos del contenido */
#contenido {  
  padding: 20px;    
  border-radius: 20px;    
}

.repuesto {
  position: relative;
  border: 1px solid #5c5c5c;
  margin-right: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ffff;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
   width: 200px;
  height: 150px;
  overflow: hidden; /* Evita que los elementos se desborden del contenedor */
  justify-content: space-between;  
}



.divr {
  display: flex;
  flex: 1;
  margin-right: 00px;
  order: 2;
  height: 30%; /* No permite que el div sobrepase la mitad del ancho del contenedor */
  max-height: 30%; /* No permite que 
  la imagen sobrepase la mitad del ancho del contenedor */
  background-color: #383c4c;
}
.h2clase h2{
  color: #e6e6e6;
  font-family: fantasy;

}
.imglr{
  position: absolute;
  width: 150px;
  height: 40px;  
  z-index: 1; /* Para asegurarse de que esté sobre cualquier otro contenido */
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el contenedor interno */
}


.repuesto h3 {
  margin: auto 0;
  margin-right: 00px;
  font-size: 10px; /* Ajusta el tamaño del texto */
  color: #383c4c;
  margin-left: 20px;
  font-family: fantasy; 
  font-size:1rem;
  white-space: nowrap; /* Evita que el texto haga saltos de línea */
  overflow: hidden; /* Oculta el contenido que se salga */
  text-overflow: ellipsis; /* Agrega "..." si el texto es muy largo */
  
}

.repuesto img {
  object-fit: contain;
  flex: 1;
  height: 100%;
  order: 1;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  height: 70%; /* No permite que la imagen sobrepase la mitad del ancho del contenedor */
  margin-right: 00px;
  max-height: 70%; /* No permite que la imagen sobrepase la mitad del ancho del contenedor */

  user-select: none; /* Evita la selección de texto */
  -webkit-user-drag: none; /* Evita el arrastre de la imagen en navegadores webkit */
  -webkit-touch-callout: none; /* Desactiva la llamada táctil en dispositivos iOS */
}

.imglr img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  
}
#rep-d {    
  display: flex;
  flex-direction: column;   
  flex-wrap: wrap;
}

#detalles-repuesto{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 100%;
}

/*#detalles-repuesto img {    
  width: 200px;
  height: 100%;     
  border-radius: 10px;  
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);  
}*/

.subcategorias {
  display: none; /* Oculta las subcategorías por defecto */
  margin-left: 10px; /* Ajusta el margen para mostrar jerarquía */
}
.precio{
  display: flex;
  position: absolute;   
  top: 0;
  right: 0;
  width: 150px; /* Ajusta el ancho del elemento según sea necesario */
  height: 50px; /* Ajusta la altura del elemento según sea necesario */
  background-color: rgb(53, 66, 102);
  clip-path: polygon(12% 0, 100% 0, 100% 100%, 0 100%);
  /* Define un polígono para el clip-path que crea un corte diagonal */
  align-items: center;
  justify-content: end;
             
}
.h2clase{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.precio h6{   
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  color: #ffffff;
            
}

/* Agrega reglas específicas para dispositivos móviles */
@media only screen and (max-width: 768px) {
  .body2 {
    margin-top: 50px; /* Reduce el margen superior para dispositivos más pequeños */
    font-size: 14px; /* Ajusta el tamaño de fuente para una mejor legibilidad en pantallas pequeñas */
  }

  #menu {
    width: 90%; /* Ajusta el ancho del menú al 100% del ancho de la pantalla */
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Agrega un borde inferior al menú */
    position: relative; /* Cambia la posición a relativa para que los elementos floten correctamente */
    margin-top: 50px; /* Ajusta el margen superior del menú */
    border-radius: 20px; /* Elimina el borde redondeado */
    margin-bottom: 10px;
  }

  #lista-categorias {
      margin: 0;
      padding: 0;
  }

  #lista-categorias li {
      padding: 10px 0;
      border-bottom: 1px solid #ddd; /* Agrega un borde inferior a cada elemento de la lista */
  }

  #contenido {
      margin: 20px 0; /* Ajusta los márgenes superior e inferior */
      padding: 20px;
  }

  .precio {
      position: relative; /* Cambia la posición a relativa para permitir un posicionamiento adecuado */
      display: flex; /* Utiliza Flexbox para el diseño */
      align-items: center;
      justify-content: center; /* Centra el contenido horizontalmente */
      margin-top: 10px; /* Ajusta el margen superior */
  }

  .body3{
      display: flex;
      flex-direction: column;
  }
  .repuesto{
      width: 40%;
      height: 230px;
  }
  #detalles-repuesto{
    justify-content: space-between;
  }
}

#whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

#whatsapp-button {
  background-color: #25D366;
  /* Color verde de WhatsApp */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
}

#whatsapp-button img {
  width: 24px;
  /* Ajusta el tamaño del logo de WhatsApp según tu preferencia */
  height: auto;
  margin-right: 5px;
}

/**/
nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 1000;
  /*background: linear-gradient(to left, #3676ff, #3f45ff);*/
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  top: 0;
  /* Para pegar el nav a la parte superior */
  left: 0;
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin:auto 0;
}

nav ul ul {
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li:hover>ul {
  display: block;
}

nav ul li {
  position: relative;
  float: left;
}

nav ul ul {
  top: 100%;
  left: 0;
}

nav ul a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  font-family: fantasy;
  color: #676767;
  transition: background-color 0.3s;
}

nav ul a:hover {
  color: #737373;
}

nav ul ul a {
  padding: 8px 20px;
}

nav ul ul ul {
  left: 100%;
  top: 0;
}

nav ul ul ul a {
  padding: 8px 30px;
}

.logo {
  display: flex;
  width: 300px;
  height: 60px;
}
nav ul li:hover{  
  color: rgb(61, 61, 255);
  border-bottom: 3px solid rgb(0, 38, 255); /* Cambia "blue" al color que desees */
}
nav ul li a:hover{  
  color: rgb(61, 61, 255); 
  
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.menu-toggle {
  display: none;  
}
/* Estilos para dispositivos peque単os */
@media screen and (max-width: 768px) {  
  nav ul {
    
    display: none;
    flex-direction: column;
    background-color: #f1f1f1;
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    margin: 0;
    padding: 0;
  }
  nav ul.open {
    display: flex;
    margin-top: 50px;
  }
  nav li {
    width: 100%;
    text-align: center;
  }
  nav ul ul {
    position: static;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    color: #000000;
    margin-right: 20px;
  }
  nav{
    border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  }
}

/* Estilos para los botones de redes sociales */
.social-button {
  margin-left: 2px; /* Espacio entre los botones y los elementos del menú */  
}
.social-button a{
  cursor: default;
}

.social-button img {
  height: 20px; /* Altura deseada del logo */
  width: 20px; /* Para mantener la proporción del logo */
  object-fit: fill;
  cursor: pointer;
}
.social-button img:hover {
  opacity: 0.5;  
  scale: 1.3;
}

/* Estilos para dispositivos pequeños */
@media screen and (max-width: 768px) {
  .social-button {
    margin: 10px 0; /* Espacio entre los botones y los elementos del menú en dispositivos pequeños */
  }

  .der{
    position: fixed;    
    top: 90px;
    left: 20%;
    
    
  }
  .izq{
    position: fixed; 
    top: 90px;
    left: 20%;
    
    
  }

  #paginacion{
    flex-wrap: wrap;
  }
  .menu2{
    margin-top: 100px;
    flex-wrap: wrap;
  }
}


#paginacion {
display: flex;
justify-content: center;
margin-top: 20px;

}

#paginacion button {
margin: 0 5px;
width: 30px;
height: 30px;
cursor: pointer;
border-radius: 50%;
border-color: white;
}

#paginacion .activo {
background-color: rgb(0, 119, 255);
color: white;
}



/*NO SE QUE ES ESTO

A
SD
AS
DA
SD
AS
DAS
D
ASD
AS
DAS
D
*/

.selected {
  background-color: blue;
  color: red;
}
.buscarRepuestos {
  border-radius: 20px;
  height: 50px;
   width: 100%;
}
.imglW {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 80%;
  left: 80%;
  z-index: 0;
}
.imglW img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.what {
  position: absolute;   
  top: 0;
  left: 0;     
  width: 100%;
  height: 100%;        
}
.repuesto {
  cursor: default;
}
@media screen and (max-width: 767px) {
  /* Ajusta según sea necesario */
  .buscarRepuestos{
      width: 90%;
  }
}
p {
  color: white;
}




.buscarRepuestos {
  width: 90%; /* Ajusta el ancho al contenedor */
  
  padding: 10px 15px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  border: 2px solid #ccc; /* Borde base */
  border-radius: 25px; /* Esquinas redondeadas */
  outline: none; /* Quita el borde azul al hacer clic */
  transition: all 0.3s ease; /* Transiciones suaves */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.buscarRepuestos:focus {
  border-color: #007bff; /* Cambia el color del borde al enfocarse */
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); /* Resalta la sombra */
}

.buscarRepuestos::placeholder {
  color: #aaa; /* Color del texto de marcador */
  font-style: italic; /* Estilo cursivo */
}



.subcategorias li.seleccionada {    
color: red !important;    
font-weight: bold;
}

