@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --btn-color: #434343;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

h5 {
    color: #333;
}