/*COLORS*/
.black{
    color: rgb(255, 255, 255);
    text-decoration-color: black;
}
.white{    
    color: #ffffff;
    text-decoration-color: #ffffff;    
}
.black-1{
    color: rgb(255, 255, 255);
    text-decoration-color: rgb(255, 255, 255);
}
.blue{
    color: rgb(0, 55, 255);
    text-decoration-color: rgb(0, 55, 255);
}

/*FONTS SIZES*/
.h10{font-size: 10px;}
.h11{font-size: 15px;}
.h12{font-size: 15px;}
.h13{font-size: 15px;}
.h14{font-size: 15px;}
.h15{font-size: 15px;}
.h20{font-size: 20px;}
.h25{font-size: 25px;}
.h30{font-size: 30px;}
.h40{font-size: 40px;}
.h50{font-size: 50px;}
.h60{font-size: 60px;}
.h70{font-size: 70px;}
.h80{font-size: 80px;}
.h90{font-size: 90px;}
.h100{font-size: 100px;}


/*H*/
h1,h2,h3,h4,h5,h6 {   
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;  
    margin-bottom: 5px;    
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.618;
}

.align-items{align-items: center;}
.justify-content-start{justify-content: start;}
.justify-content-center{justify-content: center;}
.display-flex{display: flex;}
.text-align{text-align: start;}
.text-align-center{text-align: center;}
.text-align-start{text-align: start;}
.margin-center{margin: 0 auto;}



/*FONTS WEIGHT*/
.font-weight-100{font-weight: 100;}
.font-weight-200{font-weight: 200;}
.font-weight-250{font-weight: 250;}
.font-weight-300{font-weight: 300;}
.font-weight-350{font-weight: 350;}
.font-weight-400{font-weight: 400;}
.font-weight-450{font-weight: 450;}
.font-weight-500{font-weight: 500;}
.font-weight-550{font-weight: 550;}
.font-weight-600{font-weight: 600;}
.font-weight-700{font-weight: 700;}
.font-weight-800{font-weight: 800;}
.font-weight-1000{font-weight: 1000;}


/*MARGINS BOTTOM*/
.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-20{margin-bottom: 20px;}
.margin-bottom-30{margin-bottom: 30px;}
.margin-bottom-40{margin-bottom: 40px;}
.margin-bottom-50{margin-bottom: 50px;}
.margin-bottom-60{margin-bottom: 60px;}

/*MARGINS TOP*/
.margin-top-20{margin-top: 20px;}
.margin-top-30{margin-top: 30px;}
.margin-top-40{margin-top: 40px;}
.margin-top-50{margin-top: 50px;}
.margin-top-60{margin-top: 60px;}

.padding-20{
    padding: 20px;
}
.fondo{
    margin-top:90px;
    
}

    


    

