:root{
    --colorblue: #0d6efd;    
    --colorred: #dc3545;
    --colorwhite:white;
}
button{
    padding: 0 0;
    margin: 0 0;
}
p{
    margin: 0 0 0;
}
.sectionOriginal2{
    display: flex;
    justify-content: space-between;
    align-items: start;
    height: 80px;
    width: 90%;
    background-color: none;
    color: white;
    font-size: 2rem;    
    margin: 0 auto;
    
}
.sectionOriginal2 button{
    height: 50%;
    width: 23%;
    color: var(--colorwhite);
    background-color: transparent;
    border-radius: 5px;
}
.sectionOriginal2 button:hover{
    transform: scale(1.1);
}

.sectionOriginal3{
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
    width: 100%;
    background-color: none;
    color: white;
    font-size: 2rem;
    flex-direction: column;
}

.sectionOriginal3 .sectionO31 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    width: 100%;    
    color: white;
    font-size: 2rem;
    
}

.sectionOriginal3 .sectionO31 .element1 {
    position: relative;
    display: flex;
    /*background: linear-gradient(135deg, 
    #005d9b 0%,
    #002b63 50%, 
    #005d9b 100%
);*/
    border-radius: 10px;
    width: 30%;
    height: 100%;
    /*clip-path: polygon(0% 15%, 4% 15%, 4% 0, 96% 0, 96% 15%, 100% 15%, 100% 85%, 96% 85%, 96% 100%, 4% 100%, 4% 85%, 0% 85%);*/
    /*clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);*/
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    background-color: white;
    border: 5px solid white;
    align-items: center;
    justify-content: center;    
 }

 .sectionOriginal3 .sectionO32 {
    display: flex;
    justify-content: space-between;
    align-items: start;    
    height: auto;
    width: 90%;    
    /*background-color: aliceblue;*/
    margin: 0 auto ;
    color: white;
    font-size: 2rem;
    border-top: 2px solid white;    
}

.sectionOriginal3 .sectionO32 .element{
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 300px;
    width: 23%;            
    color: white;
    font-size: 2rem;        
    flex-direction: column;
    border: 2px solid white;    
    
}

.sectionOriginal3 .sectionO32 .element .subdiv{
    display: flex;
    width: 100%;
    height: 80%;
    background-color: aliceblue;
}
/*.sectionOriginal3 .sectionO32 .element .subdiv:hover{
    transform: scale(1.1);
}*/
.sectionOriginal3 .sectionO32 .element button{    
    width: 100%;
    height: 20%;
    background-color: transparent;  
    color: white;  

}

.sectionOriginal3 .sectionO33 {
    display: none;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;    
    height: auto;
    width: 90%;
    /*background-color: aliceblue;*/
    margin: 0 auto;
    color: white;
    font-size: 2rem;
    opacity: 1;
    animation: riseelement 1s ease-in-out;    
}

.motorOrigen {
    transform-origin: top; /* El punto de origen de la transformación está en la parte superior */
}

.cabinaOrigen {
    transform-origin: top; /* Ajusta el punto de origen un poco hacia abajo desde la parte superior */
}

.chasisOrigen {
    transform-origin: top; /* Ajusta el punto de origen un poco más hacia abajo desde la parte superior */
}

.transmisionOrigen {
    transform-origin: top; /* El punto de origen de la transformación está en la parte inferior */
}

@keyframes riseelement {
    0% {
        transform: scaleY(0); /* Comienza con tamaño reducido a cero verticalmente */
        opacity: 0;
    }
    100% {
        transform: scaleY(1); /* Termina con tamaño normal verticalmente */
        opacity: 1;
    }
}
.sectionOriginal3 .sectionO33 .element{
    margin-top: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    height: 200px;
    width: 23%;            
    color: white;
    font-size: 2rem;    
    flex-direction: column;
    border: 2px solid white;
    
    
}
.sectionOriginal3 .sectionO33 .element2{
    margin-top: 20px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: start;
    height: 50px;
    width: 23%;       
    /*background-color: #dc3545;   */  
    border-radius: 10px;
    color: white;
    font-size: 2rem;    
    flex-direction: column;
    border: 2px solid white;  
    margin-left: 20px;  
    
}
.sectionOriginal3 .sectionO33 .element2 p{
    margin-left: 20px;    
    /*font-size: medium;*/
    font-size: 10px;
    color: white;
}
.sectionOriginal3 .sectionO33 .element button{
    width: 100%;
    height: 20%;
    background-color: transparent;  
    color: white;  
}
.Cabina{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #003d6b;
}
.Cabina .element1{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    /*border: 2px solid white;*/
}
.Cabina .element1 button{
    width: 100%;
    height: 20%;
    background-color: transparent;  
    color: white;  
}
.Cabina .element2{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: white;
    justify-content: center;
    align-items: center;
    /*border: 2px solid white;*/
}

    




/*.animation-class {
    animation: riseelement 1s cubic-bezier(0.25, 0.1, 0.25, 1);  Ajusta la curva de Bézier según tus necesidades 
}*/

/**/
.repuestosTbtnP{
    font-size: 20px;
    color:  rgba(36, 59, 85, 1);
}
.contactanos-container{
    display:flex;width:50%; margin:0;height:100%;flex-direction:column; align-items:center;margin-top:10px;
}
.tittleRepuestos{
    font-weight:bold;font-size:40px;
    color:  rgba(36, 59, 85, 1);
}

.iconosxd{
    display:flex;height:55px;width:90%;background-color:none;justify-content:space-between;margin-bottom:20px;    
}
.iconos-element{
    display:flex;width:23%;height:100%;background-color:none;border:2px solid white;border-radius:10px;
}
.iconos-element-dentro1{
    display:flex;width:15%;height:100%;background-color:none;
}
.iconos-element-dentro2{
    display:flex;width:85%;height:100%;background-color:none;align-items:center;
}
.iconos-element-dentro2-p{
    color:white;margin-left:4%;
}
.catalogo-white{
    color:  rgba(36, 59, 85, 1);
    background-color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 25px;
}
.catalogo{
    display:flex;width:100%;height:50px;justify-content:center;align-items:end;    
}


@media screen and (max-width:767px){
    .contactanos-container{
        width: 90%;
        margin: 0 auto;
    }
    iframe{
        width: 90%;
        height: 300px;
        
    }
    .repuestosTbtnP{
        font-size: 10px;
    }

    .sectionOriginal3 .sectionO32 .element{
        height: 100px;
    }
    .tittleRepuestos{
        font-size: 15px;
    }
        
    .sectionOriginal3 .sectionO31{
        height: 10vw;
    }
    .sectionOriginal3 .sectionO31 .element1{
        width: 30%;
    }
    .iconosxd{
        height: 30px;
        margin-bottom: 5px;
    }
    .iconos-element-dentro2-p{
        font-size: 7px;
    }
    .element2 p{
        font-size: 7px;
        margin-left: 0px;
    }
    .sectionOriginal3 .sectionO33 .element2{
        height: 30px;
    }
    .sectionOriginal3 .sectionO33 .element2 p{
        font-size: 7px;
        margin-left: 5px;
    }
    .catalogo-white{
        font-size: 10px;
    }
    .catalogo{
        height: 30px;
    }
    #cabinaBtn{
        font-size: 10px;
    }
    #motorBtn{
        font-size: 10px;
    }
    #chasisBtn{
        font-size: 10px;
    }
    #transmisionBtn{
        font-size: 10px;
    }
    .opciones{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}