#div2 {
    display: none;
    align-items: center;
    justify-content: start;
    /*background-image: linear-gradient(to left, #ffffff, #ff5d5d);*/
    width: 90%;
    height: 300px;
    border-radius: 15px;
    flex-direction: row;
    /* Apila los elementos horizontalmente */
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Ajusta los valores según tus preferencias */
    
    /*background-image: linear-gradient(to left, #ffffff, #19007b);*/
    /*background: radial-gradient(circle, #ffffff, #6e7fff);*/
  }


  #div4 {
    display: none;

    align-items: center;
    justify-content: start;
    /*background-image: linear-gradient(to left, #ffffff, #5dabff);*/
    width: 90%;
    height: 300px;
    border-radius: 15px;
    flex-direction: row;
    /* Apila los elementos horizontalmente */
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Ajusta los valores según tus preferencias */
  }



  #div6 {
    display: none;
    align-items: center;
    justify-content: start;
    /*background-image: linear-gradient(to left, #ffffff, #5dabff);*/
    width: 90%;
    height: 300px;
    border-radius: 15px;
    flex-direction: row;
    /* Apila los elementos horizontalmente */
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Ajusta los valores según tus preferencias */
  }

  #div8 {
    display: none;
    align-items: center;
    justify-content: start;
    /*background-image: linear-gradient(to left, #ffffff, #5dabff);*/
    width: 90%;
    height: 300px;
    border-radius: 15px;
    flex-direction: row;
    /* Apila los elementos horizontalmente */
    margin-bottom: 40px;
    ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* Ajusta los valores según tus preferencias */
  }

  .contactanos {
    order: 2;

    margin-left: 100px;
    display: flex;
    width: 50%;
    align-items: start;
    justify-content: start;
    flex-direction: column;

  }

  .imagen-centrada {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    /* Define la altura deseada */
  }

  .imagen-centrada img {
    max-width: 100%;
    /* Ajusta la anchura máxima según sea necesario */
    max-height: 100%;
    /* Ajusta la altura máxima según sea necesario */
    object-fit: contain;
    /* Ajusta el comportamiento de ajuste de la imagen (puedes cambiar a 'cover', 'fill', etc.) */
  }